/* shared style */
.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 36px;
    cursor: pointer;
}

.logo-part {
    color: #4E47FF;
    font-weight: 900;
    font-size: 34px;
}

/* font style */

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}




/* header style */
.header {
    background-image: url(../Assets/Hero-bg.png);
}




/* nav style */
.nav-item {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
    margin: 0px 150px 120px 150px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}


/* banner style */
.banner-container {
    text-align: center;
    padding: 0px 267px 130px 267px;
}


/* body style */
/* see it action */
.see-it-action-title {
    font-weight: 700;
    font-size: 30px;
    color: #252432;
}

.see-it-action-p {
    font-weight: 400;
    font-size: 20px;
    color: #252432;
}

.see-it-action-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 116px 151px 116px 141px;

}

.see-it-action-container-img img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

.see-it-action-container-p {
    margin: 62px;
}

.productive-user-items {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.productive-user-container {
    text-align: center;
    background-color: #4E47FF1A;
    margin: 0px 155px 110px 185px;
    padding: 40px 50px;
    border-radius: 24px;

}

.productive-user-title {
    font-weight: 700;
    font-size: 38;
    color: #252432;
}

.user-title {
    font-weight: 700;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
}

.user-paragraph {
    font-weight: 400;
    font-size: 10px;
    color: #00000080;
    margin-top: 0px;
    text-align: left;
}


/* review style */
.review-container-items {
    display: flex;
    gap: 20px;
}

.review-container-item {
    border-radius: 14px;
    background-color: #FFFFFF;
    padding: 15px;
    width: 350px;
    height: 240px;

}

.review-title {
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    color: #252432;
    padding-bottom: 10px;
}

.review-section {
    margin: 0px 155px 137px 185px;
}

.review-paragraph {
    font-weight: 200;
    font-size: 16px;
    color: #1E1E1E;
    /* margin-bottom: 0px; */
}

.review-name-p img {
    border-radius: 50px;
}

.review-name {
    display: flex;
    gap: 10px;
}

.review-name-p1 {
    font-weight: 300;
    font-size: 16px;
    color: #757575;
    /* margin-bottom: 0px; */
}

.p2 {
    font-weight: 100;
    font-size: 12px;
    color: #B3B3B3;
    /* margin-bottom: 0px; */
}


/* .review-rating{

} */

body {
    /* background-color: #F2F4FA; */
    background-color: #E6EAF4;
    ;

}

.focus {
    margin: 0px 155px 137px 185px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 71px 150px;
}

.focus-title {
    font-weight: 700;
    font-size: 50px;
    color: #000000;
}

.focus-p {
    font-weight: 100;
    font-size: 16px;
    color: #B3B3B3;
}

.focus-img img {
    border-radius: 14px;
}

.button-focus {
    margin-bottom: 15px;
    /* padding-bottom: 20px; */
}

.touch {
    margin: 0px 150px;
    padding-bottom: 71px;

}

.touch-container {
    display: flex;
    justify-content: space-around;
    gap: 140px;
}

.touch-container-item_p {
    display: block;
    font-weight: 700;
    font-size: 95px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 50px;
}

footer {
    background-color: #FFFFFF;
    padding: 104px 455px;
}

.footer-container-items {
    display: flex;
    justify-content: space-between;
    margin: 20px 65px 0px 65px;
    padding-top: 20px;
    font-weight: 300;
    font-size: 16px;
    /* color: #B3B3B3; */
    color: #8987A1;

}

.footer-title {
    text-align: center;
    font-weight: 900;
    font-size: 100px;
    color: #4E47FF;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 8px;

}

.footer-paragraph {
    text-align: center;
    /* font-weight: 400; */
    /* font-size: 16px; */
    margin: 0px;

    font-weight: 300;
    font-size: 16px;
    /* color: #B3B3B3; */
    color: #8987A1;
}

/*  */

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #000;
}

input[type="text"],
input[type="email"],
textarea {
    /* width: 100%; */
    width: 490px;
    padding: 14px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    background-color: #fff;
    color: #333;
}

textarea {
    resize: vertical;
    height: 120px;
}

.submit-button {
    background-color: #4E47FF;
    color:  #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    padding: 12px 36px;
}

.submit-button:hover {
    background-color: #4338ca;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    font-family: "Inter", sans-serif;
    font-style: normal;
}